<div class="container">
  <div class="row">
    <div class="col-12">
      <p>NgIf</p>
    </div>
    <div class="col-10"></div>
    <div class="col-2">
      <div class="form-group">
        <label for="categoria">categoria</label>
        <select
          name=""
          id="selectorNoticias"
          class="form-control"
          (change)="eventoControl($event)"
        >
          <option *ngFor="let cat of categorias" value="{{ cat.codigo }}">{{
            cat.texto
          }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngFor="let noti of noticia">
        <div *ngIf="noticia.categoria.codigo == 1 ; else opcion2">
          <div class="row">
            <div class="col-4">
              <img src="{{ noti.imagen }}" alt="" />
            </div>
            <div class="col-8">
              <h5>{{ noti.titulo }}</h5>
              <p>{{ noti.texto }}</p>
            </div>
          </div>
        </div>
        <ng-template #opcion2>
          <div class="row">
            <div class="col-12">
              <h5>{{ noti.titulo }}</h5>
              <p>{{ noti.texto }}</p>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
